@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #eff2f5;
    --foreground: #ededed;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  /* color: var(--foreground);
  */
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  /* height : 100%; */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.sliderHide::-webkit-scrollbar {
  display: none;
}
